<h2><%= @post.title %></h2>
<h4>Scribbled by <%= @post.author + " on " + @post.post_date %></h4>
<%= image_tag src="#{@post.photo_url}" %>

<p><%= @post.text %></p>


<%= link_to "Edit", edit_post_path %>


<h4>Comments </h4>

<% @post.comments.each do |comment| %>
    <div class="comment">
        <p>
            <%= comment.comment_text%>
        </p>
        <p>
            <%= comment.author + " on " + comment.post_date%>
            <%= link_to "(edit)", edit_post_comment_path(@post, comment) %>
        </p>
    </div>
<% end %>
<!-- add comment form -->
<h4>Add a new comment</h4>
<%= render partial: "comment_form" %>
